body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:url(health.png);
	background-size: cover; 
	background-position: center top;
	height: 990px;
}
body{
	font-family: sans-serif; 
}
h1{
	text-align: center;
	color: blue;
	margin: 30px 0 50px;
	font: italic;
}
.tips{
	margin: 10px 50px;
}
.tips img{
	width: 330px;
	padding: 10px;
	filter: grayscale(100%);
	transition: 1s;
}
.tips img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}